<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>New gold loan</title>

</head>

<body class="w3-black">
  <h1>New Gold Loan - Customer Details</h1>

    <form>
      <div class="form-row">
       <div class="form-group col-md-6">
         <label for="inputEmail4">Email</label>
         <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
       </div>
       <div class="form-group col-md-6">
         <label for="inputPassword4">Password</label>
         <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
       </div>
     </div>
     <div class="form-group">
       <label for="inputAddress">Address</label>
       <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
     </div>
     <div class="form-group">
       <label for="inputAddress2">Address 2</label>
       <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
     </div>
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="inputCity">City</label>
         <input type="text" class="form-control" id="inputCity">
       </div>
       <div class="form-group col-md-4">
         <label for="inputState">State</label>
         <select id="inputState" class="form-control">
           <option selected>Choose...</option>
           <option>...</option>
         </select>
       </div>
       <div class="form-group col-md-2">
         <label for="inputZip">Zip</label>
         <input type="text" class="form-control" id="inputZip">
       </div>
     </div>
     <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <!-- <button type="button" href="/mainPage" class="btn btn-dark">Back To Home</button>
    <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Primary link</a>


  <a href="/mainPage" class="btn btn-dark" role="button" aria-pressed="true">Back To Home</a> -->

  <a href="/mainPage" class="btn btn-primary" role="button"> Back To Home </a>

</body>

<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
