<!DOCTYPE html><html class="menu">
<html>

<head>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content=="IE=edge"/>
<meta name="google" value="notranslate"/>
<title>Leela Bank Login</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body style="background-color:#000000d9;">
  
  <div class="w3-display-left" color = "white">Lakshmi Finance </div>
  <div class="w3-display-left">Leela Finance </div>
 
<img src="static/images/sai1.jpeg" class="w3-display-topmiddle" width="25%" height="25%" >
<font face="Roboto" color='white'>
<p> Login to access</font> </p>
  
<div class="login">
  <form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">  
  <input type="submit" value="Login">
</div>
<div class="shadow"></div>

</body>
</html>
